<div class="navbar-form navbar-left" id="search">
  <%= form_tag feeds_path, :method => 'get' do %>
    <div class="input-group">
      <%= hidden_field_tag :tag, params[:tag] %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Procurar" %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <%= link_to feeds_path(tag: params[:tag]), class: "btn btn-default #{"disabled" unless params[:search]}" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
