<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title" id="myModalLabel">
    <%= link_to @item.name, @item.url %>
  </h3>
</div>
<div class="modal-body text-justify">
  <% if @item.image %>
    <%= image_tag @item.image, class: 'item-img img-thumbnail', align: 'left' %>
  <% end %>
  <%= sanitize (@item.content || @item.summary), tags: %w(strong em a p), attributes: %w(href) %>
  <p>Palavras-chave: <%= @item.keyword_list %></p>
</div>
